#app .demo-list {
  padding: 0 0;
  padding-top: 57px;

  .operate {
    margin-left: 20px;
  }
}

.demo-list > h2 {
  margin-left: 15px;

  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #909ca4;
}

.nut-countdown {
  .nut-cd-timer {
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: rgba(102, 102, 102, 1);
  }

  .colon {
    display: inline-block;
    margin: 0 4px;
    color: #ee0a24;
  }
  .block {
    display: inline-block;
    width: 22px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #ee0a24;
  }
}
