/**
 * nutui taro variables
 */

 $primary-color: #f0250f !default;
 $normal-color: #848484 !default;
 $link-color: $primary-color !default;
 $title-color: #2d2d2d !default;
 $text-color: #848484 !default;
 $light-color: #f6f6f6 !default;
 $dark-color: #dadada !default;
